@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Noto+Sans:400,700');

.App {
  text-align: center;
}

.pageTopContainer
{
 padding-top: 40px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropdown-menu-dark {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 5px 50px rgb(0 0 0 / 10%);
  width: 300px;
  max-width: 200px;
  font-weight: normal;
  padding-bottom: 0;
  padding-top: 5px;
  margin-top: 20px;
}

.dropdown-menu-dark > a {
  padding-top:20px;
  font-size: 14px;
  font-family: 'Poppins', 'Lato', sans-serif;
  color: #004358;
  font-weight: 400 !important;
  border-bottom: 1px solid #e4e4e4;
  line-height: 2.32;
  padding-top:5px;
  padding-bottom: 5px;
  height:27px;
  display: block;
}

.dropdown-menu:after
{
  bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 19px;
    left: 37%;
    margin-left: -32px;
}

.dropdown-menu-dark > a:hover
{
  background-color: #f5f5f5;
  transition: all ease-in-out 300ms;
  color: #004358;
}

.dropdown-menu-dark > a > i
{
  padding-right: 5px;
  width: 20px;
  color: #19556896;
  font-size: 12px;
}

.dropdown-toggle::after
{
  display: none;
}

.dropdown-menu .active
{
  border-bottom: none;
  background-color: none;
  color: #004358;
  font-weight: normal;
}

.card {
  box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
}

.tab-content
{
  background-color: white;
  padding: 16px;
}

.nav-tabs .nav-link.active
{
  border-width: 0px 0 2px !important;
    border-style: solid;
    border-color: #00A5FB;
    background:none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* react-autosuggest styles  start*/
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  height: 38px;
  padding: 10px 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Poppins','Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  text-align: left;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
/* react-autosuggest styles end */

