<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Noto+Sans:400,700');

=======
>>>>>>> a414fe02007bcdfad8fbe46a0d733e8f48ea53a6
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
<<<<<<< HEAD
    animation: App-logo-spin infinite 20s linear;
=======
    animation: App-logo-float infinite 3s ease-in-out;
>>>>>>> a414fe02007bcdfad8fbe46a0d733e8f48ea53a6
  }
}

.App-header {
<<<<<<< HEAD
  background-color: #282c34;
=======
>>>>>>> a414fe02007bcdfad8fbe46a0d733e8f48ea53a6
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
<<<<<<< HEAD
  color: white;
}

/* Navigation bar css start */
.dropdown-menu-dark {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 5px 50px rgb(0 0 0 / 10%);
  width: 300px;
  max-width: 200px;
  font-weight: normal;
  padding-bottom: 0;
  padding-top: 5px;
  margin-top: 20px;
}

.dropdown-menu-dark > a {
  padding-top:20px;
  font-size: 14px;
  font-family: 'Poppins', 'Lato', sans-serif;
  color: #004358;
  font-weight: 400 !important;
  border-bottom: 1px solid #e4e4e4;
  line-height: 2.32;
  padding-top:5px;
  padding-bottom: 5px;
  height:27px;
  display: block;
}

.dropdown-menu-dark .dropdown-item 
{
  color:#004358;
}

.dropdown-menu-dark > .dropdown-item :hover
{
  color:#004358;
}

.dropdown-menu:after
{
  bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 19px;
    left: 37%;
    margin-left: -32px;
}

.dropdown-menu-dark > a:hover
{
  transition: all ease-in-out 300ms;
  color: #004358;
}

.dropdown-menu-dark > a > i
{
  padding-right: 5px;
  width: 20px;
  color: #19556896;
  font-size: 12px;
}

.dropdown-toggle::after
{
  display: none;
}

.dropdown-menu .active
{
  border-bottom: none;
  background-color: none;
  color: #004358;
  font-weight: normal;
}

.nav-tabs .nav-link.active
{
  border-width: 0px 0 2px !important;
    border-style: solid;
    border-color: #00A5FB;
    background:none;
}

a.dropdown-item
{
border-bottom: 1px solid #e4e4e4;
color:#004358 !important;
font-family: 'Poppins','Lato',sans-serif;
padding: 5px 15px;
font-size: 12px !important;
}

/* navigation bar css end */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

=======
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
>>>>>>> a414fe02007bcdfad8fbe46a0d733e8f48ea53a6
